<article class="stat-tile">
  <div class="stat-tile__icon">
    <mat-icon>{{ icon() }}</mat-icon>
  </div>

  <div class="stat-tile__body">
    <span class="stat-tile__label">{{ label() }}</span>
    <span class="stat-tile__value">{{ value() }}</span>

    @if (deltaPercent() !== undefined) {
      <span class="stat-tile__delta" [class]="'stat-tile__delta--' + deltaTone()">
        @if (deltaDirection() !== 'flat') {
          <mat-icon class="stat-tile__delta-icon">
            {{ deltaDirection() === 'up' ? 'arrow_upward' : 'arrow_downward' }}
          </mat-icon>
        }
        {{ deltaPercent()! > 0 ? '+' : '' }}{{ deltaPercent() }}%
        <span class="stat-tile__delta-caption">vs. mês anterior</span>
      </span>
    }
  </div>
</article>
